*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins;
}
body{
    width: 100%;
    height: 100vh;

}

.item-contener{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  background-color: #C4EDC9;
}
/* add item filed style strat */
.item-contener-1{
  width: 700px;
  height: 400px;
  margin-left: 13rem;
  display: flex;
  justify-content: space-between;
  background-color: azure;
}
.input-filed-left{
  width: 340px;
  height: 330px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-inline: 1rem;
  padding-block-start: 5rem;
  background-color: aqua;
}
.input-filed-right{
  width: 340px;
  height: 330px;
  background-color: aqua;
}
.barial-div{
  width: 5px;
  height: 330px;
  background-color: black;
}

/* strat make style for input filed-left */
.input-filed-div{
  width: 320px;
  height: 50px;
  display: flex;
  flex-direction: column;
  background-color: blueviolet;
}
/* input filed style  */
.input-filed-div input[type=text]{
  width: 310px;
  height: 30px;
  padding-inline: 1rem;
  
}